*{  box-sizing: border-box; margin: 0; }
p{  font-size: 22px;}
body{
    width: 1440px;
    margin: 0 auto;
    overflow: auto;
    background-color: black;
    display: block;
    color: aliceblue;
    font-family: "Raleway", sans-serif;
}
hr{ border: solid 1px #1472B7; width: 1440px;}
/******************************************************************************/
/*  EDIÇÃO DO HEADER      *****************************************************/

.bloco01 img{ 
    display: block;
    unicode-bidi: isolate;
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}
.banner{ background-image: url("../images/banner.png"); width: 60%; margin: auto;}
.bloco01{ text-align: center; padding: 5%; }
.bloco01 h1{ 
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}
.bloco01 button{
    margin-top: 4%;
    color: #33A8DB;
    text-align: center;
    font-size: 16px;
    background: transparent;
    padding: 2%;
    text-transform: uppercase;
    letter-spacing: 8px;
    border: solid 4px #33A8DB;
 }


 /******************************************************************************/
/*  EDIÇÃO DO MAIN      *****************************************************/

/***BLOCO 02*****/
.bloco02{ margin-top: 5%; text-align: center;}
.bloco02 h2{
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.bloco02 span{ 
    display: block;
    color: white;
    width: 530px;
    margin: 2% auto;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}
/***BLOCO FOTO-MAIN*****/
.foto-main{
    height: 560px;
    background-size: cover;
    background-image: url("../images/woman-code.png");
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}